body{
    background: blue;
    color:white;
    margin: 0px;
    font-family: "Anton SC", sans-serif;
    margin-bottom: 100px;
}

.chamada{
    background: blue;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

}
header{
    color:aqua;
    font-size: 40px;
    margin-bottom:3px;
    padding: 20px;
}
.chamada-texto{
    margin-right:5%;
}

